@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background: linear-gradient(
    66.64deg,
    #0a0d2c 6.6%,
    #061039 32.71%,
    #030d31 61.2%,
    #05113d 82.73%,
    #051240 97.46%
  );
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
.header_contents {
  height: 839px;
  position: relative;
}

.box_bg_shape {
  position: absolute;
  top: 0;
}
.box_bg_shape img {
  width: 100%;
}

.bg-shape {
  max-width: 1440px;
}
.number_bg_shape {
  position: absolute;
}
.number_bg_shape {
  position: absolute;
  left: 0;
  top: 326px;
}

.technology_bg_shape {
  position: absolute;
  top: 164px;
  bottom: 0;
  right: 0;
}

.banner_title {
  font-family: "Inter";
  text-align: center;
  max-width: 998px;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 98px;
  z-index: 3;
  margin: 0 auto;
  font-feature-settings: "liga" off;

  color: #ffffff;
}

.banner_title span {
  background: linear-gradient(266.18deg, #57a1f7 22.66%, #a14af8 90.66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
/* .technology_bg_shape img {
  width: 558px;
}  */
